.container {
    text-align: left;
    background-color:gainsboro; 
    left: 0%;
  cursor: pointer;
  position: absolute;
  top: 955%;
  right:0%;
  height :80%;
    
  }
  .container1 {
    cursor: pointer;
    position: absolute;
  top: 940%;
  right:0%;
  left: 0%;
  height :80%;
  background-color:gainsboro; 
  font-size:large ;
    font-weight: bold;
    color: black;
  }
  
  .reviews {
    font-size:large ;
    font-weight: bold;
    color: black;
  }
  
